/* Default Css Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.fixed-with {
    width: 1270px;
    margin: auto;
}

.text-center {
    text-align: center;
}


/* Header section style  */
.header {
    background-color: orange;
    position: fixed;
    width: 100%;
   z-index: 9999;
}

.header-left {
    float: left;
    width: 30%;
}

.header-left a {
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

.header-right {
    float: right;
    ;
    width: 70%;
}

.header-right ul {
    text-align: right;

}

.header-right ul li {
    display: inline-block;
    border-right: 1px solid #ffffff;
    margin-left: -4px;

}

.header-right ul li a {
    color: #ffffff;
    font-size: 25px;
    text-decoration: none;
    display: inline-block;
    line-height: 40px;
    padding: 0 30px;
    transition: .5s;
}

.header-right ul li:hover>a {
    background-color: rgb(255, 0, 221);
}

/* DropDowan MEnu style */

.menu ul li {
    position: relative;
}

.menu ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    background-color: tomato;
    text-align-last: left !important;
    transition: .5s;
}

.menu ul li ul li {
    display: block;
    margin-left: 0;
    border-top: 1px solid #ddd;
}

.menu ul li ul li a {
    display: block;
    border-bottom: 1px solid #ddd;

}

/* Hover style */
.menu ul li ul {
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: top center;
}

.menu ul li:hover ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
}

/* Banner section Style */

.banner-section {
    background: url(hero-new-img-8\ -\ Copy.png) no-repeat center;
    padding: 250px 0;
    background-attachment: fixed;
}

.banner-section h2 {
    background-color: rgba(0, 0, 0, .7);
    color: #fff;
    font-size: 30px;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

.banner-section h1 {
    background-color: rgba(156,100,0,.7);
    width: 279px;
    margin: auto;
    font-size: 30px;
    margin-top: 20px;
    padding: 4px 20px;
    color: #fff;
    border-radius: 5px;
}


/* About Section  */

.about{
    padding: 60px 0px;
}
.about h2 {
    font-size: 40px;
}
.about p {
    font-size: 20px;
    width: 454px;
    margin: 10px auto;
}


/* Service Section */
.service-section{
    padding: 80px 0px;
}
.service-item{
    float: left;
    width: 30%;
    text-align: center;
    border: 1px solid #ddd;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 10px;
    padding: 10px;
    transition: .5s;
}
.service-item img{
    width: 150px;
    height: auto;
    margin:20px;
}
.service-item h3 {
    font-size: 25px;
    margin-bottom: 15px;
}
.service-item p {
    font-size: 18px;
    margin-bottom: 20px;
}

.service-item:hover{
    transform: scale(1.1);
}

/* Bloge Section */

.bloge-section{
    padding: 90px 0px ;
}
.bloge-left-section{
    width: 70%;
    float: left;
}
.bloge-right-Notification{
    width: 25%;
    float: right;
}
.bloge-item{
    margin-bottom: 20px;
 
}
.bloge-item img{
    width: 200px;
    float: left;
    margin-right: 15px;
}
.bloge-item p{
    text-align: justify;
}
.bloge-right-Notification h2 {
    font-size: 25px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    /* width: 300px; */
}
.bloge-right-Notification ul {
    list-style: none;
    font-size: 18px;
}
.bloge-right-Notification ul li {
    border: 1px solid #ddd;
    background: #fafafa;
    padding: 9px;
    margin: 10px;
    border-radius: 5px;
    transition: .5s;
}
.bloge-right-Notification li:hover{
    background-color: orange;
    color: #fff;
}

/* Footer Section */
.footer-section{
    background-color: rgba(0, 0, 0, 0.583);
    padding: 10px;
    color: #fff;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-left p{
    margin-top: 10px;
}
.footer-right{
    float: right;
    width: 60%;
    text-align: right;
}
.footer-right img{
    width: 30px;
    height: auto;
    margin-left: 8px;
}